.Control {
  margin-top: 28px;
  background: #bdddde;
  border-radius: 7px 0 0 7px;
  box-shadow: inset -9px 0px 11px 0px rgb(0 0 0 / 25%);
  overflow: hidden;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 8px;
    right: 0;

    li {
      padding: 17px;
      border-radius: 7px;
      height: 65px;
      width: 65px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      img {
        height: 100%;
      }

      &:hover {
        background-color: #deedee;
      }
    }
  }
  .day-night {
    display: flex;
    justify-content: space-around;
    span {
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 40%;
        height: 38px;
      }
    }
    span:first-child {
      background: #fff3da;
      flex: 1;
    }
    span:last-child {
      background: #94a6a6;
      flex: 1;
    }
  }
}
